name: REvil_Warp
 
on:
  push:
    branches: [ "main" ]
    paths:
      - 'warpevil.py'
  schedule: 
    - cron: '*/720 * * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ipaddress
        pip install cryptography 
        pip install requests
   
    - name: Run script
      run: python warpevil.py
    - name: Commit and push changes
      run: |          
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git config credential.helper store
          git add -A
          git commit -m "Auto update"
          git push
